<f:layout name="Bootstrap" />

<f:section name="Title">
	{project.name}
</f:section>

<f:section name="NavigationBar">
	<ul class="nav navbar-nav">
		<li>
			<f:link.action action="projects" arguments="{server:project.server}"
			               title="Back to server {server.name}"
					>
				<span class="glyphicon glyphicon-chevron-left"></span>
				Back
			</f:link.action>
		</li>
	</ul>
</f:section>

<f:section name="Content">
	<pre>{project.description}</pre>

	<h2>
		Milestones
	</h2>

	<table class="table">
		<col width="40%">
		<col width="15%">
		<col width="5%">
		<col width="40%">
		<thead>
			<tr>
				<th>Title</th>
				<th>Due</th>
				<th>Progress</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{project.milestones}" as="milestone">
				<tr class="{f:if(condition:'{milestone.progress} == 100', then:'success')}">
					<td>
						<f:link.action action="milestone" arguments="{milestone:milestone}">
							{milestone.title}
						</f:link.action>
					</td>
					<td>
						{milestone.due -> f:format.date()}
					</td>
					<td>
						<span class="badge">
							{milestone.closedIssues -> f:count()} / {milestone.issues -> f:count()}
						</span>
					</td>
					<td>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {milestone.progress}%;">
								<span class="sr-only">{milestone.progress}%</span>
							</div>
						</div>
					</td>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:section>